<md-content layout="column" layout-fill layout-padding>
  Hello!
  <div>רשימת רופאים: <a href="/doctors/test">רופא אחד</a>
    <br>
    <br>


    <br><br>

    <md-button class="md-icon-button" ng-click="list.openDialog($event)">
      <md-icon>lock outline</md-icon>
    </md-button>

  </div>


dsda <br>
  dsda <br>
  dsda <br>
  dsda <br>vdsda <br>
  dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>dsda <br>



end
</md-content>

