<md-content flex>
  <section layout="column" layout-padding>
    <md-subheader class="md-primary md-no-sticky">{{ctrl.header}}</md-subheader>
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="doctorInfo in ctrl.doctors track by $index">
        <img ng-src="http://placehold.it/50x50" class="md-avatar" alt="{{doctorInfo.fullName}}">
        <div class="md-list-item-text">
          <h3><a ng-href="/doctors/{{doctorInfo._id}}">{{doctorInfo.fullName}}</a></h3>
          <p>{{doctorInfo.tagline}}</p>
          <div
            style="position:absolute; bottom: 0; left: 0;">
            <!--<md-button class="md-icon-button" ng-click="ctrl.addRecommendation($event, recommendation)">-->
            <!--<md-tooltip>-->
            <!--עריכה-->
            <!--</md-tooltip>-->
            <!--<md-icon>mode_edit</md-icon>-->
            <!--</md-button>-->
            <md-button class="md-icon-button" ng-click="ctrl.delete(doctorInfo, $index)">
              <md-tooltip>
                מחיקה
              </md-tooltip>
              <md-icon>delete</md-icon>
            </md-button>
          </div>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </section>
</md-content>
