

<div>רשימת רופאים: <a href="/doctors/test">רופא אחד</a>
  <br>
  <br>

  <div ng-controller="UserMenuController as ctrl">
  <md-menu ng-if="isAuthenticated()">
    <md-button class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
      <img class="avatar" ng-src="{{user.avatarImageUrl}}" md-menu-origin>
    </md-button>
    <md-menu-content>
      <md-menu-item>
        <md-button ng-click="ctrl.gotoProfile(user._id)" class="md-button">ערוך פרופיל משתמש</md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button>נהל דפים</md-button>
      </md-menu-item>
      <md-menu-divider></md-menu-divider>
      <md-menu-item>
        <md-button ng-click="logout()">צא מהחשבון</md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
  <md-button ng-if="!isAuthenticated()" ng-click="authenticate()">כניסה</md-button>

  </div>
  <br><br>

  <md-button class="md-icon-button" ng-click="unlock($event)"><md-icon>lock outline</md-icon></md-button>

</div>
