<div layout="row">
<div ng-controller="RecommendationsController as ctrl" flex>
  <div layout="row" layout-align="start center">
    <h3>המלצות</h3>
    <div flex="5"></div>
    <md-button ng-show="!user || ctrl.canAddRecommendation" class="md-raised md-accent md-hue-2" ng-click="ctrl.addRecommendation($event)"><md-icon>add</md-icon> כתוב המלצה&nbsp;</md-button>
  </div>
  <div>
    <md-list>
      <md-list-item class="md-3-line md-long-text" ng-repeat="recommendation in ctrl.recommendations track by $index">
        <img class="md-avatar" ng-src="{{recommendation.issuer.avatarImageUrl}}?sz=32" />
        <div class="md-list-item-text">
          <h3 style="display:inline;">נכתב על-ידי {{recommendation.issuer.displayName}}</h3>
          <h4  class="md-caption" style="display:inline;">— נוצר {{recommendation.createdAt}}</h4><h4 class="md-caption" style="display:inline;" ng-show="!!recommendation.updatedAt">, נערך  {{recommendation.updatedAt}}</h4>
          <div ng-show="!!user && user._id === recommendation.issuer._id" style="position:absolute; bottom: 0; left: 0;">
            <md-button class="md-icon-button" ng-click="ctrl.addRecommendation($event, recommendation)">
              <md-tooltip>
                ערוך
              </md-tooltip>
              <md-icon>mode_edit</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="ctrl.delete(recommendation, $index)">
              <md-tooltip>
                מחק
              </md-tooltip>
              <md-icon>delete</md-icon>
            </md-button>
          </div>
          <p style="margin: 4px 0 38px 0;">{{recommendation.content}}</p>
        </div>
        <md-divider></md-divider>
      </md-list-item >
    </md-list>

  </div>
</div>
</div>
