
<div layout="column" layout-fill>
<md-toolbar>

  <div class="md-toolbar-tools">
    <h5 style="font-weight: normal">ניהול דפים</h5>
  </div>

</md-toolbar>
<md-button class="md-warn md-fab md-fab-top-left">
  <md-tooltip md-direction="bottom">
    הוספת רופא / מרפאה
  </md-tooltip>
  <md-icon>add</md-icon>
</md-button>
<md-content>
  <section>
    <md-subheader class="md-primary md-no-sticky">רופאים</md-subheader>
    <md-list layout-padding>
      <md-list-item class="md-3-line">
      <!--<img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">-->
      <div class="md-list-item-text">
        <h3>{message.what}}</h3>
        <h4>{message.who}}</h4>
        <p>
          {message.notes}}
        </p>
      </div>
    </md-list-item>
      <md-list-item class="md-3-line">
        <!--<img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">-->
        <div class="md-list-item-text">
          <h3>{message.what}}</h3>
          <h4>{message.who}}</h4>
          <p>
            {message.notes}}
          </p>
        </div>
      </md-list-item>
      <md-list-item class="md-3-line">
        <!--<img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">-->
        <div class="md-list-item-text">
          <h3>{message.what}}</h3>
          <h4>{message.who}}</h4>
          <p>
            {message.notes}}
          </p>
        </div>
      </md-list-item>
      <md-list-item class="md-3-line">
        <!--<img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">-->
        <div class="md-list-item-text">
          <h3>{message.what}}</h3>
          <h4>{message.who}}</h4>
          <p>
            {message.notes}}
          </p>
        </div>
      </md-list-item>
    </md-list>
  </section>
  <section>
    <md-subheader class="md-primary md-no-sticky">מרפאות</md-subheader>
    <md-list layout="column" layout-padding>
      <md-list-item class="md-3-line" >
        <!--<img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">-->
        <div class="md-list-item-text">
          <h3>{message.what}}</h3>
          <h4>{message.who}}</h4>
          <p>
            {message.notes}}
          </p>
        </div>
      </md-list-item>
      <md-list-item class="md-3-line" >
        <!--<img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">-->
        <div class="md-list-item-text">
          <h3>{message.what}}</h3>
          <h4>{message.who}}</h4>
          <p>
            {message.notes}}
          </p>
        </div>
      </md-list-item>
      <md-list-item class="md-3-line" >
      <!--<img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">-->
      <div class="md-list-item-text">
        <h3>{message.what}}</h3>
        <h4>{message.who}}</h4>
        <p>
          {message.notes}}
        </p>
      </div>
    </md-list-item>
      <md-list-item class="md-3-line" >
      <!--<img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">-->
      <div class="md-list-item-text">
        <h3>{message.what}}</h3>
        <h4>{message.who}}</h4>
        <p>
          {message.notes}}
        </p>
      </div>
    </md-list-item>
      <md-list-item class="md-3-line" >
      <!--<img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">-->
      <div class="md-list-item-text">
        <h3>{message.what}}</h3>
        <h4>{message.who}}</h4>
        <p>
          {message.notes}}
        </p>
      </div>
    </md-list-item>
      <md-list-item class="md-3-line" >
        <!--<img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">-->
        <div class="md-list-item-text">
          <h3>{message.what}}</h3>
          <h4>{message.who}}</h4>
          <p>
            {message.notes}}
          </p>
        </div>
      </md-list-item>
      <md-list-item class="md-3-line" >
        <!--<img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">-->
        <div class="md-list-item-text">
          <h3>{message.what}}</h3>
          <h4>{message.who}}</h4>
          <p>
            {message.notes}}
          </p>
        </div>
      </md-list-item>
    </md-list>
  </section>
</md-content>
</div>
  <!---->
<!--<md-toolbar class="md-tall md-accent md-hue-2">-->
  <!--<span flex></span>-->

  <!--<div class="md-toolbar-tools md-toolbar-tools-bottom">-->
    <!--<md-button class="md-fab md-mini md-warn">-->
      <!--<md-tooltip>-->
        <!--הוספת רופא-->
      <!--</md-tooltip>-->
      <!--<md-icon>add</md-icon>-->
    <!--</md-button>-->
    <!--<div style="margin-right: 20px;">-->
      <!--<h3>דפי רופא</h3>-->
    <!--</div>-->
    <!--&lt;!&ndash;<span flex></span>&ndash;&gt;-->
  <!--</div>-->
<!--</md-toolbar>-->
  <!--dsadsa-->
  <!--dasd-->
  <!--sdadas<br>-->
  <!--dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>-->
  <!--dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>-->
  <!--dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>-->
  <!--dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>-->
  <!--dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>-->
  <!--dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>-->
  <!--dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>-->
  <!--dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>-->
  <!--dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>-->
  <!--dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>-->
  <!--dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>-->
  <!--dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>-->
  <!--dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>-->
  <!--dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>-->
  <!--dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>-->
  <!--dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>dsadsa-->
  <!--dasd-->
  <!--sdadas<br>-->
<!--dsadsa-->
<!--dasd-->
<!--sdadas<br>-->

<!--<md-divider></md-divider>-->
<!--<br>-->
<!--<md-toolbar class="md-accent md-hue-2">-->
  <!--<div class="md-toolbar-tools">-->
    <!--<h3>דפי מרפאה</h3>-->
    <!--<span flex></span>-->
    <!--<md-button class="md-fab md-mini md-warn">-->
      <!--<md-tooltip>-->
        <!--הוספת מרפאה-->
      <!--</md-tooltip>-->
      <!--<md-icon>add</md-icon>-->
    <!--</md-button>-->
  <!--</div>-->
<!--</md-toolbar>-->

  <!--&lt;!&ndash;<md-button class="md-warn md-fab md-fab-bottom-right">&ndash;&gt;-->
    <!--&lt;!&ndash;<md-tooltip md-direction="left">&ndash;&gt;-->
      <!--&lt;!&ndash;הוספת רופא&ndash;&gt;-->
    <!--&lt;!&ndash;</md-tooltip>&ndash;&gt;-->
    <!--&lt;!&ndash;<md-icon>add</md-icon>&ndash;&gt;-->
  <!--&lt;!&ndash;</md-button>&ndash;&gt;-->



