@import url("stylesheets/fonts.css");


.view-progress {
  opacity: 1;
  position: absolute;
  background-color: rgba(204, 206, 255, 0.32);
}

.view-progress.ng-hide {
  opacity: 0;
}

.view-progress.ng-hide-add, .view-progress.ng-hide-remove {
  transition: opacity 0.5s ease-in-out;
}

.avatar {
  border-radius: 50%;
}

body {
  direction: rtl;
  overflow-y: hidden;
}

