<md-nav-list>
  <a md-list-item>
    <img md-list-avatar style="border-radius: initial;"
         src="http://via.placeholder.com/40x40">
    <h3 md-line>link 1</h3>
    <p md-line>
      <span> subject </span>
      <span> -- content </span>
    </p>
  </a>
  <a md-list-item>
    <img md-list-avatar style="border-radius: initial;"
         src="http://via.placeholder.com/40x40">
    <h3 md-line> link 2</h3>
    <p md-line>
      <span> subject2 </span>
      <span> -- content </span>
    </p>
    <p md-line>
      dnsajkfl dsvlf dvjldfn vlf klfdvnkjkfl nv dlfdnvjklefnva adfsndv dflnvjf vldafv
      dfvadf vjkadfn vlmdf kjfdav f vklfaavnjravn klf v ;jfnvc cmdsjklncs jdnsefewm e
    </p>
  </a>
</md-nav-list>
