<!doctype html>
<html dir="rtl" lang="he">
<head>
  <meta charset="UTF-8">
  <base href="/">

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
  <link rel='stylesheet' href='http://fonts.googleapis.com/earlyaccess/notosanshebrew.css'>
  <style>
    [ng-cloak] {
      display: none !important;
    }
  </style>
</head>
<body class="hebrew" layout="column" ng-cloak dir="rtl">


<md-toolbar class="md-whiteframe-2dp">
  <div class="md-toolbar-tools">
    <a href="/doctors"><md-tooltip>
        מעבר לדף הבית
      </md-tooltip>יִשׂרָא-דוֹק
    <span class="md-caption">אינדקס רופאים</span>
    </a>
    <!-- fill up the space between left and right area -->
    <span flex></span>
    <div style="margin-left: 15px;" layout layout-align="center center" ng-controller="UserMenuController as ctrl">
      <md-menu  layout layout-align="center center" ng-if="isAuthenticated()">
        <md-button style="padding: 4px 0 0 0;" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
          <md-tooltip>
פתיחת תפריט</md-tooltip>

            <img md-menu-origin class="avatar" ng-src="{{user.avatarImageUrl}}?sz=32" md-menu-origin>

        </md-button>
        <md-menu-content>
          <md-menu-item>
            <md-button ng-click="ctrl.gotoUserProfile(user._id)" class="md-button">ניהול פרופיל משתמש</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="ctrl.gotoUserPages(user._id)" class="md-button">ניהול דפים</md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button ng-click="logout()">יציאה</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-button class="md-icon-button" ng-if="!isAuthenticated()" ng-click="openAuthProviderSelectionDialog($event)">
        <md-tooltip>
          כניסה
        </md-tooltip>
        <md-icon>person</md-icon>
      </md-button>
    </div>
  </div>
</md-toolbar>
<div style="position: relative;" flex>
  <div class="view-progress" ng-show="isViewLoadingSlow" layout layout-fill layout-align="center center">
    <md-progress-circular md-mode="indeterminate" class="md-warn md-hue-1" md-diameter="96"></md-progress-circular>
  </div>
  <div class="ng-view route-content">
  </div>
</div>


<% if (env === 'production') { %>
<script src="main.min.js"></script>
<% }  else { %>
<script src="jspm_packages/system.js"></script>
<script src="config.js"></script>
<script>
  System.import('index');
</script>
<% } %>
</body>
</html>
