<md-whiteframe layout-fill class="d-card md-whiteframe-1dp" layout="column" flex-sm flex-md layout-align="start center"
               ng-class="cls"
                ng-mouseenter="cls = 'md-whiteframe-5dp'"
                ng-mouseleave="cls = null">
<div layout-fill layout="column" layout-gt-sm="row" layout-padding layout-align="start center">
    <img flex class="d-profile-pic" ng-src="{{doc.imgUrl}}" title="{{doc.name.full}}" alt="{{doc.name.full}}">
    <div flex class="doctor-name">
        <h2 class="md-title">{{doc.name.full}}</h2>
        <p class="md-subhead">{{doc.tagline}}</p>
    </div>
    <div flex="30" flex-md="40" layout="row" layout-align="end">
        <a class="md-button md-raised md-accent" style="padding: 6px 0; font-size: inherit; text-align: inherit; line-height: inherit; letter-spacing: 0; margin: 6px 0;" ng-href="tel:{{doc.mainPhone}}">
            <md-icon style="float:right; height: 48px; width: 48px;" md-svg-src="icons/phone.svg" class="s48" aria-label="Call"></md-icon>
            <div style="margin-left:8px;" layout="column" layout-align="center start">
                <div>להזמנת תור</div>
                <h1 style="margin: 0; width: 142px;" class="md-headline">{{doc.mainPhone}}</h1>
            </div>
        </a>
    </div>
</div>
<div style="width:100%;" ng-if="doc.show">
    <md-tabs class="md-hue-1" md-dynamic-height md-stretch-tabs="always" md-selected="2"  md-no-pagination="true"  style="direction:ltr; border-radius:0">
        <!--md-no-ink md-border-bottom-->
            <md-tab ng-disabled="false">
                <md-tab-label>
                    <span class="mdl-badge" data-badge="0">פרסומים</span>
                </md-tab-label>
                <md-tab-body>
                    <h1 class="md-subhead">לא נמצאו פרסומים</h1>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="false">
                <md-tab-label>
                    <span class="mdl-badge" data-badge="0">המלצות</span>
                </md-tab-label>
                <md-tab-body>
                    <h1 class="md-subhead">לא נמצאו המלצות</h1>
                </md-tab-body>
            </md-tab>
            <md-tab label="אודות">
                <div layout="column" layout-gt-md="row" layout-align="start start">

                    <div class="experience" layout="column" layout-fill layout-align="start center" flex-gt-md="55">
                        <div>
                            <md-toolbar style="height:48px; min-height: initial; margin-bottom:10px;" class="md-primary md-hue-1">
                                <div style="height:48px" class="md-toolbar-tools">
                                    <h2>
                                        <span style="font-size:16px">ניסיון</span>
                                    </h2>
                                </div>
                            </md-toolbar>
                            <md-content style="padding:0 16px;">{{doc.experienceParagraph}}</md-content>
                        </div>
                        <div style="width:100%">
                            <md-toolbar style="height:48px; min-height: initial; margin-bottom:10px;" class="md-primary md-hue-1">
                                <div style="height:48px" class="md-toolbar-tools">
                                    <h2>
                                        <span style="font-size:16px">טיפולים מיוחדים</span>
                                    </h2>
                                </div>
                            </md-toolbar>
                            <md-content layout="row" style="padding:0 16px;">
                                <div flex layout="column">
                                        <span ng-repeat="treatment in doc.specialTreatments track by $index" ng-if="$odd">
                                            <md-icon class="md-accent md-hue-1" md-svg-icon="icons/check_circle.svg"></md-icon>
                                            {{treatment}}
                                        </span>
                                </div>
                                <div flex layout="column">
                                        <span ng-repeat="treatment in doc.specialTreatments track by $index" ng-if="$even">
                                            <md-icon class="md-accent md-hue-1" md-svg-icon="icons/check_circle.svg"></md-icon>
                                            {{treatment}}
                                        </span>
                                </div>
                            </md-content>
                        </div>
                    </div>

                    <div flex-gt-md="45" layout="column" layout-fill>
                        <md-toolbar style="height:48px; min-height: inherit; margin-bottom:10px;" class="md-primary md-hue-1">
                            <div style="height:48px" class="md-toolbar-tools">
                                <h2>
                                    <span style="font-size:16px">מרפאות</span>
                                </h2>
                            </div>
                        </md-toolbar>
                        <div layout="column">
                            <md-whiteframe layout-padding class="md-whiteframe-2dp" layout="column" layout-align="center center" >
                                <div style="margin: 20px 0;" layout="row" layout-fill>
                                    <span flex style="line-height: 48px;padding-right: 6px;letter-spacing: .01em;">{{doc.clinics[0].name}}</span>
                                    <md-button class="md-icon-button" ng-click="doc.clinics[0].show = !doc.clinics[0].show">
                                        <md-icon md-svg-icon="{{'icons/arrow_' + (doc.clinics[0].show ? 'up' : 'down') + '.svg'}}"></md-icon>
                                    </md-button>
                                </div>
                                <div ng-show="doc.clinics[0].show" layout="column" layout-fill>
                                    <div flex-order-gt-md="3" layout="column" layout-fill layout-align="start">
                                        <div style="height:48px; padding-right: 14px;" layout-fill layout="row" layout-align="start center">
                                            <strong>טלפון</strong>
                                            <span flex></span>
                                            <a style="text-transform: inherit; font-size: inherit; font-weight: inherit;" class="md-button md-primary md-hue-1" ng-href="tel:{{doc.clinics[0].phone}}">
                                                <md-icon md-svg-icon="icons/phone.svg"></md-icon>
                                                {{doc.clinics[0].phone}}
                                            </a>
                                        </div>
                                        <div ng-if="!!doc.clinics[0].fax" style="height:48px; padding:0 14px;" layout-fill layout="row" layout-align="start center">
                                            <strong>פקס</strong>
                                            <span flex></span>
                                            <span>{{doc.clinics[0].fax}}</span>
                                        </div>
                                        <div ng-if="!!doc.clinics[0].email" style="height:48px; padding-right: 14px;" layout-fill layout="row" layout-align="start center">
                                            <strong>דוא"ל</strong>
                                            <span flex></span>
                                            <a style="text-transform: inherit;" class="md-button md-primary md-hue-1" href="mailto:{{doc.clinics[0].email}}">
                                                <md-icon md-svg-icon="icons/email.svg"></md-icon>
                                                {{doc.clinics[0].email}}
                                            </a>
                                        </div>
                                        <div ng-if="!!doc.clinics[0].open" style="min-height:48px;padding:0 14px;" layout-fill layout="row" layout-align="start center">
                                            <strong>שעות פעילות</strong>
                                            <span flex></span>
                                    <span style="text-align:left">
                                        <div ng-repeat="entry in doc.clinics[0].open track by $index">
                                            <strong>{{entry.days}} </strong>{{entry.hours}}
                                        </div>
                                    </span>
                                        </div>
                                    </div>
                                    <div flex-order-gt-md="2" layout-fill layout="row" layout-align="start center">
                                        <strong  style="margin-right:14px;">כתובת</strong>
                                        <span flex></span>
                                        <md-button class="md-primary md-hue-1"
                                                   ng-click="navigate(doc.clinics[0].addressForGoogle)">
                                            <md-icon md-svg-icon="icons/directions.svg"></md-icon>
                                            {{doc.clinics[0].addressText}}
                                        </md-button>
                                    </div>
                                    <iframe flex-order-gt-md="1" style="width:100%"  height="300" frameborder="0" style="border:0" ng-src="{{doc.clinics[0].mapResourceUrl}}" allowfullscreen></iframe>

                                </div>
                            </md-whiteframe>
                        </div>
                    </div>
                </div>
            </md-tab>
        </md-tabs>
    </div>
    <md-button style="width:100%; margin: 0; border-radius: 0;"
               ng-click="doc.show = !doc.show">
<md-icon md-svg-icon="{{'icons/arrow_' + (doc.show ? 'up' : 'down') + '.svg'}}"></md-icon>
</md-button>
</md-whiteframe>