<md-list>
  <md-list-item>
    <img md-list-avatar src="http://via.placeholder.com/40x40">
    <h3 md-line> message.from </h3>
    <p md-line>
      <span> message.subject </span>
      <span> -- message.content </span>
    </p>
  </md-list-item>
  <md-list-item>
    <img md-list-avatar src="http://via.placeholder.com/40x40">
    <h3 md-line> message.from </h3>
    <p md-line>
      <span> message.subject </span>
      <span> -- message.content </span>
    </p>
    <p md-line>
      <span> message.subject </span>
      <span> -- message.content </span>
    </p>
  </md-list-item>
</md-list>
