<div style="margin: 20px;">
  <h1 class="mat-display-1" style="margin: 10px;">יִשׂרָא-דוֹק</h1>
  <h3>אינדקס רופאים</h3>
</div>
<form (ngSubmit)="onSubmit()"
      style="width: 400px;" fxLayout fxLayoutAlign="start center">

  <mat-input-container fxFlex>
    <input
      [(ngModel)]="query" name="query" type="text"
      matInput placeholder="חפש רופאים, התמחויות, מרפאות וכו'">
  </mat-input-container>

  <button type="submit" mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
</form>
<div [ngSwitch]="doctors.length !== 0" *ngIf="queryDone" style="width: 100%;">
  <div *ngSwitchCase="false">לא נמצאו תוצאות</div>
  <app-doctor-list *ngSwitchCase="true" style="width: 100%;" [doctors]="doctors"></app-doctor-list>
</div>
